.cp_present-cell {
  margin: 0 auto;
  height: 25px;
  cursor: pointer;
  position: relative;
  background: url('../../svg/opacity.svg') repeat;
}
.cp_present-color {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
