.cp {
  position: absolute;
  margin: 0 auto;
  top: 10%;
  left: 40%;
  background-color: #272f42;
  border-radius: 3px;
}

.cp_container {
  padding: 0 10px 0 10px;
}

.cp_settings {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 20px;
}

.cp_presents-color {
  width: 70px;
}

.cp_regulate-color {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
}

.cp_models-copy {
  display: flex;
  align-items: center;
}

.cp_list-models {
  width: 100%;
}
.cp_list-type-color {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/* Animation */
.example-enter,
.example-appear {
  opacity: 0.7;
}

.example-enter-active,
.example-appear-active {
  opacity: 1;
  transition: opacity 300ms;
}

.example-exit {
  opacity: 1;
  transition: opacity 300ms;
}
/* fires as element leaves the DOM*/
.example-exit-active {
  opacity: 0.7;
}

/* .example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
} */
